@import "tailwindcss";

 @plugin "daisyui" {
   themes: light --default;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Brand */
  --color-primary: oklch(50.31% 0.208 38.35);
  --color-secondary: oklch(17.76% 0.005 285.82);
  --color-accent: oklch(80% 0.12 190);

  /* Base */
  --color-base-100: oklch(99% 0.01 240); 
  --color-base-200: oklch(95% 0.02 240);
  --color-base-300: oklch(90% 0.03 240);

  /* Neutral */
  --color-neutral: oklch(25% 0.04 250); 
  --color-neutral-content: oklch(98% 0 0);

  /* Feedback */
  --color-success: oklch(75% 0.15 150);
  --color-error: oklch(65% 0.22 25);        /* Modern Red */
}

@theme {

  --text-shadow-sm: 1px 1px 2px rgba(0, 0, 0, 0.1);

  --text-shadow-md: 2px 2px 4px rgba(0, 0, 0, 0.3);

  --text-shadow-lg: 4px 4px 8px rgba(0, 0, 0, 0.5);

  --text-shadow-glow: 0 0 10px oklch(50.31% 0.208 38.35 / 50%);
}

@theme {
  --animate-floating: floating 3s ease-in-out infinite;

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px); 
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@utility animate-float {
  animation: var(--animate-floating);
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));